@import 'normalize.css';

:root {
  --primary-color: #3dcbb1;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ant-row,
.ant-col {
  font-size: 1.6rem;
}

/* .ant-checkbox .ant-checkbox-inner {
  background-color: transparent;
  border-color: red;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: red;
  border-color: red;
} */
